.animation-slide-button {
  animation-name: animation-slide-button;
  animation-duration: 1s;
  animation-delay: 0.5s;
}

@keyframes animation-slide-button {
  0% {
    opacity: 0;
    filter: blur(100%);
    transform: translateY(-100%);
  }
  100% {
    opacity: 100;
    filter: blur(0%);
    transform: translateY(0%);
  }
}
