@import "tailwindcss";

.py-05 {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}

.markdown {
  @apply text-neutral-900 dark:text-neutral-100 leading-normal break-words;
}

.markdown > * + * {
  @apply mt-0 mb-4;
}

.markdown li + li {
  @apply mt-1;
}

.markdown li > p + p {
  @apply mt-6;
}

.markdown strong {
  @apply font-semibold;
}

.markdown a {
  @apply text-blue-600 font-semibold;
}

.markdown strong a {
  @apply font-bold;
}

.markdown h1 {
  @apply leading-tight border-b text-4xl font-semibold mb-4 mt-6 pb-2;
}

.markdown h2 {
  @apply leading-tight border-b text-2xl font-semibold mb-4 mt-6 pb-2;
}

.markdown h3 {
  @apply leading-snug text-lg font-semibold mb-4 mt-6;
}

.markdown h4 {
  @apply leading-none text-base font-semibold mb-4 mt-6;
}

.markdown h5 {
  @apply leading-tight text-sm font-semibold mb-4 mt-6;
}

.markdown h6 {
  @apply leading-tight text-sm font-semibold text-neutral-600 dark:text-neutral-400 mb-4 mt-6;
}

.markdown blockquote {
  @apply text-base border-l-4 border-neutral-300 dark:border-neutral-700 pl-4 pr-4 text-neutral-600 dark:text-neutral-400;
}

.markdown code {
  @apply font-mono text-sm inline bg-neutral-200 dark:bg-neutral-800 rounded px-1 py-05;
}

.markdown pre {
  @apply rounded p-4;
}

.markdown pre code {
  @apply block bg-transparent p-0 overflow-visible rounded-none;
}

.markdown ul {
  @apply text-base pl-8 list-disc;
}

.markdown ol {
  @apply text-base pl-8 list-decimal;
}

.markdown kbd {
  @apply text-xs inline-block rounded border px-1 py-05 align-middle font-normal font-mono shadow;
}

.markdown table {
  @apply text-base border-neutral-600 dark:border-neutral-400;
}

.markdown th {
  @apply border py-1 px-3;
}

.markdown td {
  @apply border py-1 px-3;
}

.markdown .alert-note {
  --alert-color-1: #1f6feb;
  --alert-color-2: #58a6ff;
}

.markdown .alert-tip {
  --alert-color-1: #1f6feb;
  --alert-color-2: #58a6ff;
}

.markdown .alert-important {
  --alert-color-1: #8957e5;
  --alert-color-2: #ab7df8;
}

.markdown .alert-warning {
  --alert-color-1: #9e6a03;
  --alert-color-2: #d29922;
}

.markdown .alert-caution {
  --alert-color-1: #da3633;
  --alert-color-2: #f85149;
}

.markdown .alert {
  @apply border-l-[4px] mb-[16px] p-[8px_16px] border-(--alert-color-1);
}

.markdown .alert-title {
  @apply flex items-center font-bold text-(--alert-color-2);
}

.markdown .highlight pre {
  @apply bg-gray-100 !important;
}